* {
  margin: 0 ;
  padding: 0;
}
@font-face {
  font-family: 'Hello-summer';
  src: url('css/Hello-Summer.otf') format('opentype');
  
}

h2 {
  font-family: '#3b0a75';
  font-size: 3rem;
  color: white;
}

body {
  background: linear-gradient(135deg, #0f0f0f, #3b0a75);
  color: #f8f9fa;
  min-height: 100vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  backdrop-filter: blur(10px);
  color: #fff;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.087) !important;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-img {
  height: 90px;
  width: auto;
}

.logo-text{
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.navbar {
  min-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.nav-link {
  font-size: 1.1rem;
}

.navbar .nav-link,
.navbar .navbar-brand span {
  color: #fff !important;
}

.navbar .nav-link:hover {
  color: #ddd !important;
}

.navbar-nav, .navbar-brand {
  display: flex;
  align-items: center;
}

.form-select,
.form-control,
.btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: none;
}

.btn-primary {
  background-color: #7b2cbf;
}

.btn-primary:hover {
  background-color: #9d4edd;
}

input:disabled {
  background-color: #333 !important;
  color: #aaa;
}

#word-display span {
  font-size: 1.2rem;
  padding: 2px;
}

.correct {
  color: #00ff88;
}

.incorrect {
  color: #ff4d4d;
  text-decoration: underline;
}

.current {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.full-main {
  width: 100%;
  max-width: none;
  padding: 2rem 4vw;
}

.full-main h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: '';
}

.text-start {
  min-height: 300px;
  font-size: 2rem;
}

#input-field {
  background-color:transparent; 
  color: white;
  border: 1px solid #a39f9f;
  border-radius: 20px;
}

#input-field:focus {
  background-color: transparent; 
  color: white;
  outline: none;
  box-shadow: none;
  border: 1px solid #666; 
}

#word-count::placeholder {
  color: #8d88886b; 
  opacity: 1;
}

#mode,
#mode option {
  background-color: #1e1e2f;
  color: white;
  border: none;
}

#mode:focus {
  outline: none;
  box-shadow: none;
}

#word-count {
  background-color: #1e1e2f;
  color: white;
  border: 1px solid #444;
  border-radius: 20px;
}

#word-count:focus {
  background-color: #1e1e2f;
  color: white;
  outline: none;
  box-shadow: none;
  border: 1px solid #666;
}

#results {
  font-size: 35px;
}

#timer {
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
}

#title {
  font-family: 'Orbitron', sans-serif;
  color: black;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  display: inline-block;
}






