body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .landing-section {
    height: calc(100vh - 70px);
    background: linear-gradient(135deg, #cce3ff, #f8f9fa);
    padding-top: 20px;
  }
  
  .landing-logo {
    width: 450px;   
    height: auto;
    margin-bottom: 90px; 
  }
  
  .landing-section p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #6c757d;
  }
  
  .landing-section a.btn {
    margin-top: 5px;
  }